@import "../../../../variables";

.brand-bar {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: right;
  font-size: 12px;
}

.logo-bar {
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    list-style: none;

    li {
      display: inline-block;
      margin-left: 30px;

      a {
        color: #555555;
        font-weight: 500;

        &:hover {
          color: $primary;
        }

        &.highlight {
          color: $primary;
        }
      }
    }
  }
}