<div class="brand-bar"></div>
<div class="logo-bar">
    <div class="container">
        <div class="columns">
            <div class="column is-narrow">
                <a routerLink="/"><img src="/assets/images/logo.png" alt=""></a>
            </div>
            <div class="column has-text-right">
                <ul>
                    <li><a href="">Forsiden</a></li>
                    <li><a href="">Priser</a></li>
                    <li><a href="">Om os</a></li>
                    <li><a href="">Tilbud</a></li>
                    <li><a href="">Kontakt</a></li>
                    <li><a href="" class="highlight">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>