@import "../../../../variables";

.simple-text {
  text-align: center;

  h2 {
    display: block;
    text-transform: uppercase;
    font-weight: 800;
    color: $primary-font-color;

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      background-color: $primary;
      margin: 15px auto;
    }
  }
}

.simple-text-wrapper {
  padding: $module-padding;
  position: relative;

  &:hover, &.editing {
    .admin-controls {
      opacity: 1;
    }
  }

  .admin-controls {
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 10;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .4s;

    .control {
      cursor: pointer;
      display: flex;
      width: 45px;
      height: 45px;
      //padding: 10px 15px;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 5px;
      position: relative;
      justify-content: center;
      align-items: center;

      .sub-controls {
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translate(10px, -50%);
        display: flex;

        .submit, .cancel {
          cursor: pointer;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          margin: 0 5px 0 0;
          display: flex;
          width: 30px;
          height: 30px;
          justify-content: center;
          align-items: center;

        }

        .cancel {
          background-color: #f44336;
          color: white;
        }

        .submit {
          background-color: #43a047;
          color: white;
        }
      }
    }
  }
}