<div class="simple-text-wrapper" [ngClass]="{'editing': isEditing}">
    <div class="admin-controls" *ngIf="(isLoggedIn | async)">
        <div class="control" (click)="activateEdit($event)">
            <i class="fa fa-pencil fa2" aria-hidden="true"></i>
            <div class="sub-controls" *ngIf="isEditing">
                <div class="cancel" (click)="cancelEdit($event)">
                    <i class="fa fa-ban fa2" aria-hidden="true"></i>
                </div>
                <div class="submit">
                    <i class="fa fa-check fa2" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="control">
            <i class="fa fa-gear fa2" aria-hidden="true"></i>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="simple-text">
                    <h2 class="title">{{localData.title}}</h2>
                    <div class="content" *ngIf="!isEditing; else contentEditor">
                        <div [innerHtml]="localData.content"></div>
                    </div>

                    <ng-template #contentEditor>
                        <div [froalaEditor]="froalaOptions" [(froalaModel)]="localData.content"></div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
