<div class="wrapper" [@visibilityChanged]="animation">
    <h1>{{(page | async)?.title?.rendered }}</h1>
    <a routerLink="/admin">Admin</a>
    <a routerLink="/hello-world">Hello World</a>
    <a routerLink="/sample-page">Sample Page</a>

    <div *ngIf="blocks">
        <div generic-block *ngFor="let block of blocks" [data]="block"></div>
    </div>
</div>


