<app-header></app-header>

<router-outlet></router-outlet>

<button (click)="logIn()">Log in</button>
<button (click)="logOut()">Log out</button>
<button (click)="logInAs()">Log in as</button>

<p>Is logged in: {{isLoggedIn | async}}</p>