@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import "./variables";

@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/layout/_all";

.container {
  max-width: calc(100% - 30px);
  margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3.25rem;
}