@import "../node_modules/bulma/sass/utilities/_all";

$family-serif: "Merriweather", "Georgia", serif;
$family-primary: $family-serif;

$primary: #9ed098;
$primary-font-color: #353535;
$link: $primary;

$danger: $orange;

$module-padding: 60px 0 30px 0;